!Assets/
!Packages/
!ProjectSettings/

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Ll]ogs/
/UserSettings/
/MemoryCaptures/
/.vscode/
/.vs/
/.idea/

*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

*.pidb.meta
*.pidb
*.bak
*.swp
*.lock

.DS_Store

Thumbs.db
